<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="__CPT__/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <title>Title</title>
</head>
<body>


<form class="form-horizontal"
<if condition="$_GET.from and $_GET.from eq 'edit'">
    action="/Learn/learn_edit.php"
    <else />
    action="/Learn/learn_insert.php"
</if>
method="post"
>
<input name="id" type="hidden" value="{$_GET.id}">
    <div class="control-group">
        <label class="control-label" for="inputTheme">主题</label>
        <div class="controls">
            <input name="theme"  type="text"value="{$detail[0].theme}" id="inputTheme"/>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="inputType"> 类型</label>
        <div class="controls">

            <select  name="type" value="{$detail[0].type}" id="inputType">
                <option value="1">开发流程</option>
                <option value="2">测试流程</option>
                <option value="3">技术小点</option>
                <option value="4">工作心得</option>
                <option value="5">生活分享</option>
            </select>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="inputContent"> 内容</label>
        <div class="controls">
            <textarea name="content"  id="inputContent">{$detail[0].content}</textarea>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn">保存</button>
        </div>
    </div>
</form>


</body>
</html>