<!-- 重点：loadAreaNode -->
<!doctype html>
<html lang="zh-CN">

<head>
    <!-- 原始地址：//webapi.amap.com/ui/1.0/ui/geo/DistrictExplorer/examples/simple-load.html -->
    <base href="//webapi.amap.com/ui/1.0/ui/geo/DistrictExplorer/examples/" />
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <title>单区域加载</title>
    <style>


        #container {
            width: 770px;
            height: 740px;
            margin: 0px;
            position: absolute;
            top: 150px;
            left: 124px;
        }
        body{

            background-position: center center;
            background-repeat: no-repeat;
            width: 100%;
            height: 100%;
        }
        #container canvas{



        }
        #container .amap-logo,#container .amap-copyright{
            display: none!important;
            background-color: inherit!important;
        }
        .main-content,.container-ledt{
            width:1500px;
            height: 900px;
            margin: 0 auto;
            position: relative;
            background-image: url("__IMAGE__/bg.png");
        }

    </style>
</head>

<body>
<div class="main-content">
    <div id="container"></div>
</div>
<script type="text/javascript" src='//webapi.amap.com/maps?v=1.3&key=9a2b593133101a429a0df94fcd5b9d35'></script>
<script src="__JS__/jquery_1.9.1.js"></script>

<!-- UI组件库 1.0 -->
<script src="//webapi.amap.com/ui/1.0/main.js?v=1.0.10"></script>
<script type="text/javascript">
    //创建地图
    var map = new AMap.Map('container', {
        cursor: 'default',
        zoom: 6,
        features:[],
        zoomEnable:false
    });


    function setMapStyle(container){
        $(container).css('background','none')
    }
  //  addBeiJing();
    //just some colors
    var colors ={
        110000:'#58626c',//北京 默认色
        120000:'#5f6c7a',//天津
        130000:'#b5b324',//河北
        140000:'#58616c',//山西
      //  150000:'#58626c',//内蒙古
        210000:'#be6f24',//辽宁
        220000:'#b5b324',//吉林
        230000:'#b5b324',//黑龙江
        190000:'#be6f24',//上海
        320000:'#be6f24',//江苏
        330000:'#be6f24',//浙江
        340000:'#b5b324',//安徽
        350000:'#be6f24',//福建
        360000:'#b5b324',//江西

        610000:'#be6f24',//陕西
        410000:'#be6f24',//陕西
        620000:'#b5b324',//甘肃
        640000:'#b5b324',//宁夏
        450000:'#58616c',//广西
        520000:'#b5b324',//贵州
        530000:'#b5b324',//云南
        510000:'#a92a2a',//四川
        500000:'#a92a2a',//重庆
        420000:'#a92a2a',//湖北
        430000:'#a92a2a',//湖南
        710000:'#a92a2a',//山东
       // 340000:'#b5b324',//安徽
    }
         /*   [
        "#585E6A", "#dc3912", "#ff9900", "#109618", "#990099", "#0099c6", "#dd4477", "#66aa00",
        "#b82e2e", "#585E6A", "#994499", "#22aa99", "#aaaa11", "#6633cc", "#e67300", "#8b0707",
        "#651067", "#585E6A", "#5574a6", "#585E6A"
    ];*/

    AMapUI.loadUI(['geo/DistrictExplorer'], function(DistrictExplorer) {

        //创建一个实例
        window.districtExplorer = new DistrictExplorer({
            map: map,
            eventSupport: true, //打开事件支持
            preload: [100000] //预加载全国

        });
        districtExplorer.clearFeaturePolygons();
        setMapStyle('#container')
        var adcode = 100000;

        districtExplorer.loadAreaNode(adcode, function(error, areaNode) {

            //更新地图视野
            map.setBounds(areaNode.getBounds(), null, null, true);

            //清除已有的绘制内容
            districtExplorer.clearFeaturePolygons();

            //绘制子区域
            districtExplorer.renderSubFeatures(areaNode, function(feature, i) {
              /*  var marker = new AMap.Marker({  //省市标识
                    icon: "http://webapi.amap.com/theme/v1.3/markers/n/mark_b.png",
                    position: feature.properties.centroid
                });
                marker.setMap(map);*/

                /*districtSearch.search('中国',function(status, result){
                    //TODO : 按照自己需求处理查询结果
                })*/
                var code=feature.properties.adcode;
                var fillColor = colors[code]|| colors[110000];

                var strokeColor="#8D9CB1";

                if(code==460000){
                    debugger
                }
                return {
                    cursor: 'default',
                    bubble: true,
                    strokeColor: strokeColor, //线颜色
                    strokeOpacity: 1, //线透明度
                    strokeWeight: 1, //线宽
                    fillColor: fillColor, //填充色
                   fillOpacity: 0.8, //填充透明度
                };
            });

            //绘制父区域--中国
            districtExplorer.renderParentFeature(areaNode, {
                cursor: 'default',
                bubble: true,
                strokeColor: '#8D9CB1', //线颜色
                strokeOpacity: 1, //线透明度
                strokeWeight: 1, //线宽
                fillColor: null, //填充色
                fillOpacity: 0.35, //填充透明度
            });

            map.setFitView(districtExplorer.getAllFeaturePolygons());

        });



        //根据Hover状态设置相关样式
        function toggleHoverFeature(feature, isHover, position) {


            var props = feature.properties;

            //更新相关多边形的样式
            var polys = districtExplorer.findFeaturePolygonsByAdcode(props.adcode);
            for (var i = 0, len = polys.length; i < len; i++) {

                polys[i].setOptions({
                    fillOpacity: isHover ? 0.5 : 0.2
                });
            }
        }

      /*  //监听feature的hover事件
        districtExplorer.on('featureMouseout featureMouseover', function(e, feature) {
            toggleHoverFeature(feature, e.type === 'featureMouseover',
                    e.originalEvent ? e.originalEvent.lnglat : null);
        });*/


    });


    /*setTimeout(10,function(){
        AMap.service('AMap.DistrictSearch', function() {
            var opts = {
                subdistrict: 1,   //返回下一级行政区
                extensions: 'all',  //返回行政区边界坐标组等具体信息
                level: 'city'  //查询行政级别为 市
            };
            //实例化DistrictSearch
            district = new AMap.DistrictSearch(opts);
            district.setLevel('district');
            //行政区查询
            district.search('朝阳区', function(status, result) {
                debugger
                var bounds = result.districtList[0].boundaries;
                var polygons = [];
                if (bounds) {
                    for (var i = 0, l = bounds.length; i < l; i++) {
                        //生成行政区划polygon
                        var polygon = new AMap.Polygon({
                            map: map,
                            strokeWeight: 1,
                            path: bounds[i],
                            fillOpacity: 0.7,
                            fillColor: '#CCF3FF',
                            strokeColor: '#CC66CC'
                        });
                        polygons.push(polygon);
                    }
                    map.setFitView();//地图自适应
                }
            });
        });
    })*/
/*    var districtSearch = new AMap.DistrictSearch({
        level : 'country',
        subdistrict : 1
    });*/

    function addBeiJing() {
        //加载云图层插件
        AMap.service('AMap.DistrictSearch', function() {
            var opts = {
               subdistrict: 1,  //返回下一级行政区
                extensions: 'all',  //返回行政区边界坐标组等具体信息
                level: 'city'  //查询行政级别为 市
            };

            //实例化DistrictSearch
            district = new AMap.DistrictSearch(opts);
          //  district.setLevel('province');
            //行政区查询
           // district.setLevel('city');
        //    district.setSubDistrict(0);
         /*   AMap.event.addListener(district, 'complete', function(e){

            })*/
            district.search('成都市', function(status, result) {
                var bounds = result.districtList[0].boundaries;
                var marker = new AMap.Marker({  //省市标识
                    icon: "http://webapi.amap.com/theme/v1.3/markers/n/mark_b.png",
                    position: feature.properties.centroid
                });
                marker.setMap(map);
                var polygons = [];
                if (bounds) {
                    for (var i = 0, l = bounds.length; i < l; i++) {
                        //生成行政区划polygon
                        var polygon = new AMap.Polygon({
                            map: map,
                            strokeWeight: 1,
                            path: bounds[i],
                            fillOpacity: 0.7,
                            fillColor: '#CCF3FF',
                            strokeColor: '#CC66CC'
                        });
                        polygons.push(polygon);
                    }
                    map.setFitView();//地图自适应
                }
            });
        });
    }


</script>
</body>

</html>