<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<frameset rows="30px,*" frameborder="no">
    <frame   scrolling="no" src="/Index/header.html"/>
    <frameset cols="15%,200px,*,15%" frameborder="no">
        <frame   scrolling="no"/>
        <frame  noresize scrolling="auto" src="/Index/left.html" name="left"/>
        <frame  scrolling="auto" src="/Learn/learn_list.html"  name="MainFrame"/>
        <frame   src="" scrolling="no"/>
    </frameset>

</frameset>


</html>