<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学习新的列表</title>
    <link href="__CSS__/xiaohao/create.css" rel="stylesheet">

    <link href="__JS__/pagination_zh/lib/pagination.css" rel="stylesheet">

</head>
<body>
<div class="sss">
<div class="code-zhuti">
    <p id="lablew">主题
    <input type="text" id="code-kuang">
    </p>
</div>
<div class="code-leixing">
    <p id="lablee">类型
        <select name="type" value="" id="inputType">
            <option value="">请选择</option>
            <option value="1">开发流程</option>
            <option value="2">测试流程</option>
            <option value="3">技术小点</option>
            <option value="4">工作心得</option>
            <option value="5">生活分享</option>
        </select>
    </p>
</div>
<div class="code-neirong">
    <p id="lable">内容
    <input type="text" name="aa" id="code-ww">
    </p>

    <input type="submit" value="保存" id="sub"  name="sub" >

</div>
    <ul class="pagination">
    <li><a href="#">&laquo;</a></li>
    <li class="active"><a href="#">1</a></li>
    <li class="disabled"><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">&raquo;</a></li>
    </ul>
</div>

</body>
</html>


<script type="text/javascript" src="__JS__/jquery-3.2.1.min.js"></script>
<script src="__JS__/layer-v3.1.0/layer/layer.js"></script>
<script src="__JS__/pagination_zh/lib/jquery.min.js"></script>
<script src="__JS__/pagination_zh/lib/jquery.pagination.js"></script>

<script type="application/javascript" src="__JS__/xiaohao/create.js"></script>